.cast-details-wrapper {
  background-color: var(--rm-color-dark);
  background-position: center;
  background-size: cover;
  background-image: url(../../../../../public//MediaAsset//CastDetails/Background.png);
  color: var(--my-color);
  background-repeat: no-repeat;
  background-attachment: fixed;

  max-width: 100vw;
  overflow-x: hidden;
}
