.the-cast-wrapper {
  min-height: 100vh;
  background-color: var(--rm-color-dark);
  background-image: url(../../../../../public/MediaAsset/CastDetails/Background.png);
  background-size: cover;
  background-position: center;
}
